/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@font-face {
  font-family: 'Big Shoulders Display';
  font-weight: 400;
  src:
       url('../fonts/big-shoulders-display-v13-latin-regular.woff2') format('woff2'), 
       url('../fonts/big-shoulders-display-v13-latin-regular.woff') format('woff');
}
/* big-shoulders-display-700 - latin */
@font-face {
  font-family: 'Big Shoulders Display';
  font-style: normal;
  font-weight: 700;
  src:
       url('../fonts/big-shoulders-display-v13-latin-700.woff2') format('woff2'), 
       url('../fonts/big-shoulders-display-v13-latin-700.woff') format('woff');
}

@font-face {
  font-family: 'Lexend Deca';
  font-weight: 400;
  src:
       url('../fonts/lexend-deca-v16-latin-regular.woff2') format('woff2'), 
       url('../fonts/lexend-deca-v16-latin-regular.woff') format('woff'); 
}


* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90vh;
  margin: 0;
  font-family: "Lexend Deca", "Arial", sans-serif;
}

.bg-coral {
  background-color: #e28625;
}

.bg-blue {
  background-color: #006971;
}

.bg-darkblue {
  background-color: #004140;
}

.cars-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 920px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 20px;
  padding-right: 20px;
  list-style: none;
}


.cars-item {
  width: 307px;
  padding: 48px;
  border-radius: 8px;
}

.cars-item::before{
  content: '';
  display: block;
  width: 64px;
  height: 40px;
  background-position: center;
  background-size: 64px 40px;
  margin-left: 15px;
}

.cars-item:nth-child(1)::before{
  background-image: url("../images/icon-sedan.svg");
}

.cars-item:nth-child(2)::before{
  background-image: url("../images/icon-suv.svg");
}
.cars-item:nth-child(3)::before{
  background-image: url("../images/icon-luxury.svg");
}

.item-img {
  margin-bottom: 35px;
}

.item-title {
  margin-bottom: 25px;
  font-family: "Big Shoulders Display";
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  text-transform: uppercase;
  color: #f2f2f2;
}

.item-text {
  margin-bottom: 83px;
  font-size: 15px;
  line-height: 25px;
  color: #fff;
  opacity: 0.75;
}

.item-link {
  padding: 12px 32px;
  border-radius: 25px;
  font-size: 15px;
  line-height: 25px;
  text-decoration: none;
  border: 2px solid transparent;
  background-color: #fff;
}

.item-link:hover{
    background-color: transparent;
    color: #fff;
    border-color: #fff;
    -webkit-transition: background 0.3s ease, color 0.3s ease;
    -o-transition: background 0.3s ease, color 0.3s ease;
    transition: background 0.3s ease, color 0.3s ease;
}

.sedans-link {
  color: #e28625;
}

.suvs-link {
  color: #006971;
}

.luxury-link {
  color: #004140;
}